<a href="https://colab.research.google.com/github/zenpp/Data-Science-Mini-Project/blob/master/SKE12%20FB%20Messenger%20Chat%20Room%20Analysis/01_data_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import necessary libraries

In [0]:
import pandas as pd
import numpy as np
import json
from datetime import datetime

Mounted Google Drive to this Colab

In [30]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Load JSON files into single pandas data frame

In [77]:
path = '/content/drive/My Drive/Shareable /Data Science Projects/SKE12 2019 Chat Room Analytics/'
temp_data = []
for i in range(1,10):
  with open(path + 'raw_data/message_' + str(i) +'.json' , encoding = 'utf-8') as f:
    raw = json.load(f)
    raw_df = pd.DataFrame.from_dict(raw['messages'])
    temp_data.append(raw_df)
data = pd.concat(temp_data, sort = False)
print(data.shape)
print(data.columns)

(81333, 13)
Index(['sender_name', 'timestamp_ms', 'content', 'type', 'gifs', 'share',
       'photos', 'reactions', 'sticker', 'videos', 'users', 'audio_files',
       'files'],
      dtype='object')

Encode sender name for their own privacy

In [78]:
def encode_name(name):
  arr = name.split(' ')
  return arr[0][::-1]
data['sender_name'] = data['sender_name'].apply(encode_name)
data.head(5)

         sender_name   timestamp_ms  ... audio_files files
0           lopajneB  1577730648439  ...         NaN   NaN
1            tanapuS  1577730637269  ...         NaN   NaN
2            tanapuS  1577730627550  ...         NaN   NaN
3            tanapuS  1577730625714  ...         NaN   NaN
4  lasiapanattartreL  1577729604405  ...         NaN   NaN

[5 rows x 13 columns]

Change timestamp in millisecond into regular date time format

In [79]:
data['timestamp_ms'] = data['timestamp_ms'].apply(lambda x : datetime.fromtimestamp(round(x/1000.0)))
data.head(5)

         sender_name        timestamp_ms  ... audio_files files
0           lopajneB 2019-12-30 18:30:48  ...         NaN   NaN
1            tanapuS 2019-12-30 18:30:37  ...         NaN   NaN
2            tanapuS 2019-12-30 18:30:28  ...         NaN   NaN
3            tanapuS 2019-12-30 18:30:26  ...         NaN   NaN
4  lasiapanattartreL 2019-12-30 18:13:24  ...         NaN   NaN

[5 rows x 13 columns]

Find content length of each message

In [103]:
def content_length(content):
  content = str(content)
  try:
    if content is None or "https" in content or "responded" in content :
      return 1
    else :
      return len(content)
  except:
    return 1
data['content_length'] = data['content'].apply(content_length)
data.head(5)

         sender_name        timestamp_ms  ... files content_length
0           lopajneB 2019-12-30 18:30:48  ...   NaN              1
1            tanapuS 2019-12-30 18:30:37  ...   NaN             54
2            tanapuS 2019-12-30 18:30:28  ...   NaN              7
3            tanapuS 2019-12-30 18:30:26  ...   NaN             56
4  lasiapanattartreL 2019-12-30 18:13:24  ...   NaN             36

[5 rows x 14 columns]

Export result data frame into MS Excel format for further visualization

In [0]:
data.to_excel(path + 'processed/result.xlsx' ,index = False , encoding= 'utf-8' )